.DS_STORE
.idea
.venv
.venv-linux
.mypy_cache
venv
files
__pycache__
tests
test
secret
secrets
certs
cert
database.sqlite
.dockerignore
.gitignore
Dockerfile
docker-compose.yml
README.md
auth
*.pyc
node_modules
dist
